<h2 style="margin-top: 15px; font-size: 28px"><%= @province.capitalize! %></h2>
<p><span style="color: #aaa"><%= @total_spareyards %> desguaces encontrados</span></p>

<%= paginate @spareyards %>  

<ul class="spareyards">
<% @spareyards.each do |spareyard| %>
    <li>
        <div class="list_item">
            <span class="title">
                <%= link_to spareyard.name, spareyard %>
            </span>
        </div>
    </li>
<% end %>
</ul>

<%= paginate @spareyards %>  
